*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
html{
    margin: 0;
    padding: 0;
}
.logo{
    width: 18%;
}
header{
    background-image: url(./imagenes/headerimg.jpg);
    height: 10opx;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
.fondo{
    background-color: rgb(85, 59, 11);
}
.slide{
    background-image: url(imagenes/banner1.jpg);
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
    background-attachment: fixed;
    background-position: ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.utensillo{
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
    background-attachment: fixed;
    background-position: ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.img-diferenciales{
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
    background-attachment: fixed;
    background-position: ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.encabezado{
    background-color: rgb(204, 192, 175);
}
.mapa{
    background-color: rgb(226, 225, 224);
}
.diferenciales{
    background-color: rgb(204, 192, 175);
}
.footer{
    background-image: url(./imagenes/bg.jpg);
}
.destinoweb{
    color:darkgoldenrod;
    text-decoration: none;
}